CONFIG VCCAUX = "3.3" ;

NET "CLK" TNM_NET = "CLK" | LOC = V10;
TIMESPEC TS_CLK = PERIOD "CLK" 100 MHz HIGH 50%;

NET "rst" PULLDOWN ;

############################################################################
# FTDI FT2232H-Channel B used as USB Asynchronnous FIFO
############################################################################

NET "data<0>"    LOC = "L17"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<1>"    LOC = "L18"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<2>"    LOC = "M16"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<3>"    LOC = "M18"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<4>"    LOC = "N17"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<5>"    LOC = "N18"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<6>"    LOC = "P17"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "data<7>"    LOC = "P18"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;

NET "rxf_n"        LOC = "K18"   | IOSTANDARD = LVTTL;
NET "txe_n"        LOC = "K17"   | IOSTANDARD = LVTTL;
NET "rd_n"         LOC = "J18"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "wr_n"         LOC = "J16"   | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;